<html>
<head>
  <meta charset="utf-8">
  <title>Drawing Program</title>
  <h1>Drawing Demonstration</h1>
  <link rel = "stylesheet" type = "text/css" href = "style.css">
  <script src = "draw.js"></script>
  <script src="library/plain-draggable.min.js"></script>
  <script src="library/leader-line.min.js"></script>
</head>
<body>

<div style="background-color: gray;" width="1000px" height="1000px">
  <canvas id="draggable_1" width="100px" height="100px" style="border: 3px solid green; background-color: red">
    You have old brouser :(
  </canvas>
  <br>
  <canvas id="draggable_2" width="100px" height="100px" style="border: 3px solid green; background-color: blue">
    You have old brouser :(
  </canvas>
  <br>
  <canvas id="draggable_3" width="100px" height="100px" style="border: 3px solid green; background-color: yellow">
    You have old brouser :(
  </canvas>
  <br>
  <canvas id="draggable_4" width="100px" height="100px" style="border: 3px solid green; background-color: green">
    You have old brouser :(
  </canvas>

</div>



<p> <b>Click here to start.</b> Hold Ctrl to draw in blue, Shift to draw in red. </p>

<canvas id="paintCanvas" style="border: 3px solid green"></canvas>

<button id="refreshButton"> перезагрузить </button> <br/>


<canvas id="canvas1" width="888px" height="555px" style="border: 3px solid green">
  You have old brouser :(
</canvas>


</body>
</html>
